<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/2190152_lab04_homework/src/com/lab04/homework/NiceQuote.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.lab04.homework.NiceQuote"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="2190152_lab04_homework"/>
</launchConfiguration>
